<!DOCTYPE html>
<html>



<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand ms-2" href="@Url.Action("Index", "Home")">BikeStores</a>

            @{
                var current = ViewContext.RouteData.Values["controller"].ToString();
            }

            <div class="navbar-nav ms-3">
                @Html.ActionLink("Home", "Index", "Home", null,
                    new { @class = "nav-link" + (current == "Home" ? " active fw-bold text-white" : "") })
                @Html.ActionLink("Maintain", "Index", "Maintain", null,
                    new { @class = "nav-link" + (current == "Maintain" ? " active fw-bold text-white" : "") })
                @Html.ActionLink("Reports", "Index", "Reports", null,
                    new { @class = "nav-link" + (current == "Reports" ? " active fw-bold text-white" : "") })
            </div>
        </div>
    </nav>



    <div class="container mt-4">@RenderBody()</div>

    <div class="container body-content">
        @*@RenderBody()*@
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/Scripts/jquery-3.7.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
